details > summary:focus {
  outline: none;
}
details > summary::-webkit-details-marker {
  display: none;
}
details > summary {
  list-style: none;
  border: solid 1px teal;
  border-radius: 0.5rem;
}
details[open] > summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
details[open] > :not(summary) {
  border-left: solid 1px teal;
  border-right: solid 1px teal;
}
details[open] > :last-child {
  border-bottom: solid 1px teal;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
details > summary::before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border: solid 2px black;
  border-left-color: transparent;
  border-bottom-color: transparent;
  margin-right: 0.6rem;
  transition: transform 0.2s;
  transform: rotate(-45deg) translate(-20%, 20%);
}
details[open] > summary::before {
  transform: rotate(135deg) translate(-20%, 20%);
}

/* layout */
section.accordion {
  max-width: 400px;
  width: 100%;
  padding: 10px;
}
details {
  padding: 10px;
}
details > * {
  width: 100%;
  padding: 10px;
  margin: 0px;
}

.container {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  display: flex;
}

.imgH {
  opacity: 1;
  transition: opacity 0.5s;
}

.imgH:hover {
  opacity: 0.2;
  transition: opacity 0.5s;
}
